* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/bank.jpg);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
}
nav img {
  width: 100px;
  cursor: pointer;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  color: #c41f3e;
  transition: 0.3s;
}
button {
  border: none;
  background-color: #c41f3e;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}
button:hover {
  transform: scale(1.3);
  cursor: pointer;
}
