* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/bank.jpg);
  background-size: cover;
  background-position: center;
}

nav img {
  width: 100px;
}
